
<div class="Menus">


<hr class="Cafeteria-header-line">
  <h1 class="MenuPageTitle">My account</h1>


</div>
  <section class="Account">
    <ul>
    <li class="Details-item">
        <label class="Details-label">Account Id :</label>
        <input name="User_name" value="EATUP<%= @user.id %>" disabled>
      </li>
      <li class="Details-item">
        <label class="Details-label">User Name :</label>
        <input name="User_name" value="<%= @user.first_name %>" disabled>
      </li>

      <li class="Details-item">
        <label class="Details-label">Contact no :</label>
        <input name="User_mobile" value="9550373013">
      </li>
      <li class="Details-item">
        <label class="Details-label">Mail ID :</label>
        <input name="User_mail"  value="<%= @user.email %>" disabled>
      </li>

    </ul>
  </section>
